before_script:
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=99:0
bundler_args: --without development production --quiet
env:
  #- GEM DB=sqlite
  #- GEM DB=mysql
  #- GEM DB=postgres
before_install:
  - cd $GEM; export BUNDLE_GEMFILE="`pwd`/Gemfile"
script: bundle exec rspec spec

matrix:
  allow_failures:
    - rvm: 1.9.7
    #- rvm: jruby
    #- rvm: rbx
    #- rvm: ree

notifications:
  email: kotn_ep1@hotmail.com
  webhooks:
    on_success: always
    on_failure: always

rvm:
  - 1.9.3
  - 1.9.7
  - 2.0.0
  - 2.1.0
